**/node_modules
**/dist
**/.git
**/.vscode
**/README.md
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env
**/.env.local
**/.env.*.local
**/.DS_Store
**/docker-compose*.yml
**/docker-compose.*.yml
**/.gitignore
**/.editorconfig
**/coverage
**/.nuxt
**/.output
**/.cache
**/.vuepress
**/.serverless
**/.fusebox
**/.idea
**/*.tsbuildinfo
**/cypress
**/test
**/tests
**/__tests__
**/e2e
**/playground